PORT=3003

DB_HOST=orders-db
DB_PORT=5432
DB_NAME=ordersdb
DB_USER=ordersuser
DB_PASSWORD=orderspassword

JWT_SECRET=change_this_to_a_long_random_string

# In Docker Compose: service name resolves via Docker DNS
# In K8s: change to http://products-service.shopflow-dev.svc.cluster.local:3002
PRODUCTS_SERVICE_URL=http://products-service:3002